.body{
    margin: 0;
}
.container{
    display:flex;
    height:100vh;
}
.page7_cnt{
    width:40%;
    padding-left:50px;
    display:flex;
    flex-direction: column;
    width:40%;
    background-color: rgb(0, 81, 173);
    color:white;
}
.animatepage7{
    display:flex;
    padding-left:20px;
    width:60%;
    background-color: rgb(207, 233, 245);
}

.svg7{
    height:250px;
    width:250px;
    position:relative;
    border-radius: 50%;
    background-color: rgb(0, 81, 173) ;
    left:350px;
    top:60px;
    z-index:100;
}

.flex-end{
    padding-top:340px;
}
.flex-endImage>img{
    height:70px;
}
.flex-endcol{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.flex-endcol>span{
    font-size:12px;
}
.animatepageimg71{
    position: relative;
}
.animatepageimg71>img{
    height:700px;
}
@keyframes drawDash7 {
    to {
      stroke-dasharray: 810, 1000; /* Your desired stroke dasharray */
    }
  }
  
  .transrgwht7 {
    stroke-dasharray: 0, 1000; /* Start with dasharray of 0 */
    stroke-dashoffset: 0; /* Ensure the stroke starts from the beginning */
    animation: drawDash7 1s linear forwards;
  }